@model EliandroProjetoManha.Models.Pedido

@{
    ViewData["Title"] = "Deletar";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que quer deletar o pedido</h3>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
